@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/materialicons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('../fonts/materialicons/MaterialIcons-Regular.woff2') format('woff2'),
  url('../fonts/materialicons/MaterialIcons-Regular.woff') format('woff'),
  url('../fonts/materialicons/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('../fonts/roboto/Roboto-Light.eot'); /* For IE6-8 */
  src: local('Roboto'),
  url('../fonts/roboto/Roboto-Light.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Light.woff') format('woff'),
  url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

body {
  background-color: #EDF0F1;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  height: 100%;
  text-rendering: optimizelegibility !important;
}

.success_message {
  background: #004d40 none repeat scroll 0 0 !important;
}

.error_message {
  background: #e53935 none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  opacity: 0.9;
  padding: 10px 20px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 150;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.angular-google-map-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.side-details {
  padding: 0px 15px 25px 15px;
}

.stands {
  margin: 20px 0;
}

.stands div {
  border: 1px solid #000000;
  cursor: pointer;
  height: 150px;
}

.stands div span {
  font-weight: bold;
  color: #00b0ff;
}

.stands div.free {
  background: #ffffff;
}

.stands div.free:hover {
  background: #3c3c3c !important;
}

.photo_section {
  background: #000000;
  padding-bottom: 60%;
  width: 100%;
}

.btn-separate {
  margin-bottom: 15px;
}

.documents {
  cursor: pointer;
}

.documents:hover {
  background: #d7ccc8;
}

#upload_files {
  margin: 15px 0;
}

#upload_logo {
  margin-bottom: 15px;
}